@import "global.less";

/* Main Styles */

* {
  box-sizing: border-box;
}

// Form Elements

form {
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin-top: -2px;
    margin-bottom: -2px;
  }
  input,
  select {
    vertical-align: top;
    display: inline-block;
    font-size: 20px;
    padding: 0 0 0 5px;
    margin-right: 10px;
    border: 2px solid @grey_border;
    &::placeholder {
      color: black;
    }
  }
  input,
  select,
  button {
    font-family: "Nunito", sans-serif;
    border-radius: 4px;
    height: 50px;
  }
  select {
    padding-right: 15px;
  }
}

// Text

h2,
h3,
p {
  margin: 15px 0;
}

h2 {
  font-size: 28px;
  color: @blue_3;
}

// Buttons

.main-button {
  display: inline-block;
  color: white;
  font-size: 22px;
  border: 2px solid @blue_1;
  background-color: @blue_1;
  transition: all 220ms ease-in-out;
  margin-right: 10px;
  padding: 0 10px;
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    background-color: white;
    color: @blue_1;
  }
  &.icon {
    &:after {
      font-family: "Font Awesome 5 Pro";
      font-weight: 900;
      font-size: 20px;
    }
  }
  &.search {
    &:after {
      content: "\f002";
      padding-left: 7px;
    }
  }
  &.clear {
    background-color: @red_1;
    border-color: @red_1;
    &:hover,
    &:focus,
    &:active {
      background-color: white;
      color: @red_1;
    }
    &:after {
      content: "\f0e2";
    }
  }
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  .header-wrapper {
    background-color: @blue_1;
    padding: 40px 0;
    text-align: center;
    .page-header {
      color: white;
      font-size: 80px;
    }
  }
  .filter-wrapper {
    overflow: hidden;
    text-align: center;
    padding: 60px 0;
    background-color: @grey_2;
    border-bottom: 4px solid @blue_2;
    h2 {
      margin-top: 0;
    }
  }
  .main {
    overflow: hidden;
    background: @grey_1;
    padding: 0 30px 30px 30px;
    a {
      text-decoration: none;
    }
    .active-filters-wrapper {
      margin-top: 20px;
      padding: 20px 15px;
      border-radius: 5px;
      background-color: @grey_3;
      h2 {
        margin-top: 0;
      }
      span {
        display: inline-block;
        font-weight: 700;
        font-size: 20px;
        background-color: @blue_1;
        border-radius: 4px;
        color: white;
        padding: 10px 15px;
      }
    }
    .intro {
      padding: 20px 0;
      .intro-header {
        text-align: center;
      }
    }
    .status-message {
      padding: 10px 0;
      margin: 10px 0;
      border-radius: 5px;
      background-color: @red_1;
      color: white;
      p {
        text-align: center;
        font-size: 22px;
        padding: 10px;
        margin: 0;
      }
    }
    .product-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      .product-wrapper {
        z-index: 1;
        display: block;
        position: relative;
        background: @blue_1;
        padding: 15px;
        border-radius: 7px;
        margin: 10px;
        border: 2px solid white;
        color: white;
        transition: all 220ms ease-in-out;
        &:after {
          transition: all 420ms ease-in-out;
          content: "";
          font-family: "Font Awesome 5 Pro";
          font-weight: 900;
          position: absolute;
          font-size: 20px;
          top: 0;
          left: 0;
          padding: 8px;
          margin: 0;
          color: white;
          border-top-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
        &.food {
          &:after {
            content: "\f805";
          }
        }
        &.material {
          &:after {
            content: "\f466";
          }
        }
        &.hardware {
          &:after {
            content: "\f6e3";
          }
        }
        &.furniture {
          &:after {
            content: "\f4b8";
          }
        }
        &.household {
          &:after {
            content: "\f015";
          }
        }
        .product-name {
          padding: 0 10px;
          font-size: 30px;
          text-align: center;
          color: white;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            height: 3px;
            background-color: white;
            bottom: -5px;
            left: 50%;
            right: 50%;
            opacity: 0;
            transition: all 420ms ease-in-out;
          }
        }
        .product-price,
        .product-weight,
        .product-id {
          font-size: 18px;
        }
        &:hover,
        &:focus {
          transform: scale(1.05);
          &:after {
            transform: rotate(360deg);
          }
          .product-name {
            &:after {
              left: 25px;
              right: 25px;
              opacity: 1;
            }
          }
        }
      }
      @media (min-width: 1500px) {
        grid-template-columns: repeat(5, 1fr);
      }
      @media (min-width: 1650px) {
        grid-template-columns: repeat(6, 1fr);
      }
    }
  }
}
